/* 중간-Left*/	
.mainbodylayout {
	padding:10px 0 0 0;}		
.mainleftlayout {
	padding:0 0 0 10px;}
.boxTop {
	width:179px; height:32px;
	padding:0 0 0 23px;
	background:url("../../images/main/bg_leftmenu_top.gif") no-repeat;
	color:#fff;}
.boxTop01 {
	width:179px; height:30px;
	padding:0 0 0 23px;
	background:url("../../images/main/bg_leftmenu_top01.gif") no-repeat;
	color:#fff;}		
.boxMiddle {
	padding:10px 0 5px 12px;
	background:url("../../images/main/bg_leftmenu_middle.gif") repeat-y;}
.boxMiddle li {
	padding:0 0 0 7px;
	background:url("../../images/common/bul_02.gif") 0 6px no-repeat;
	font-size:11px; line-height:18px;}
.boxMiddle .buln {background:none;font-weight:bold;}
.boxMiddle .red {color:#ff1e00;}
.boxMiddle .floatR {
	position:absolute;
	left:145px;}

.bargraph {
	height:20px;width:155px;
	padding:6px 0 0 0;
	background:url("../../images/common/bg_bargraph.gif") 0 6px no-repeat;
	font-size:11px;}
.bargraph li {
	float:left; padding:0px !important;}
.bargraph .roop {	
	border-left:solid 1px #e64900;
	background:url("../../images/common/bar_roop.gif") 0 0 repeat-x;height:12px;}	
.bargraph .text {
	position:absolute;
	padding:0 5px;
	background:none;
	vertical-align:top;
	line-height:13px;}
	
.mainleftSMS {
	width:179px; height:140px;
	padding:35px 0 0 6px;
	background:url("../../images/main/bg_sms.gif") no-repeat;}	
.mainleftSMS .space {padding:0 0 0 11px;height:75px;vertical-align:top;}	
.mainleftSMS textarea {
	width:140px; height:60px;
	border:0px;overflow:hidden;}
.mainleftSMS input {
	width:50px;height:19px;padding:3px 0 0 5px;
	background:url("../../images/main/bg_sms_input.gif") no-repeat;
	border:0px;font-size:11px; color:#fff;}	
	
/*중간-right*/		
.bodyrightlayout {
	vertical-align:top;
	background:url("../../images/main/bg_bodyrightMiddle.gif") 0 0 repeat-y;}
.bodyrightContainer {
	padding:0 0 0 12px;}
.bodyrightContainer .bg_title01 {
	width:324px; height:28px;
	padding:4px 0 0 28px;
	background:url("../../images/main/bg_title_01.gif") no-repeat;
	color:#000; font-weight:bold;}	
.shoppingmallinfo {width:350px;}	
.shoppingmallinfo th {
	height:23px;
	background-color:#434d5f;
	border-bottom:solid 1px #cccccc;
	color:#b0b0b0; text-align:center; font-weight:normal;}	
.shoppingmallinfo tr {
	height:24px;}
.shoppingmallinfo td {
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;}
.shoppingmallinfo .rborder {
	border-right:solid 1px #ccc;}
.shoppingmallinfo .today {color:#fff;}
.shoppingmallinfo .title {
	padding:0 0 0 10px;
	background-color:#f5f6f6;
	text-align:left;}
.tab p {float:left; margin:0;}	
.tab .tabSelect {
	height:20px;
	padding:3px 0 0 0;
	background-color:#fdfdfd;
	border:solid 1px #b8b8b8;
	border-bottom:solid 1px #fff;
	text-align:center;
	cursor:pointer;
	color:#d9410f; font-weight:bold;}
.tab .tabSelectn {
	height:20px;
	padding:3px 0 0 0;
	background-color:#fdfdfd;
	border:solid 1px #d3d3d3;
	border-bottom:solid 1px #b8b8b8;
	text-align:center;
	cursor:pointer;
	color:#888; font-weight:bold;}	
.tab .tabgap {
	width:2px;
	height:24px;
	border-bottom:solid 1px #b8b8b8;}	
.tab01 p {float:left;}
.tab01 .tabSelect {
	height:20px;
	padding:3px 0 0 0;
	background-color:#fdfdfd;
	border:solid 1px #b8b8b8;
	border-bottom:solid 1px #fff;
	text-align:center;
	font-size:11px;
	color:#d9410f; font-weight:bold;}
.tab01 .tabSelectn {
	height:20px;
	padding:3px 0 0 0;
	background-color:#fdfdfd;
	border:solid 1px #d3d3d3;
	border-bottom:solid 1px #b8b8b8;
	text-align:center;
	font-size:11px;
	color:#888; font-weight:bold;}	
.tab01 .tabgap {
	width:2px;
	height:24px;
	border-bottom:solid 1px #b8b8b8;}		

.noticelist {
	clear:both;
	margin:10px 0 15px 0;
	width:217px;}
.noticelist img {vertical-align:middle;}	
.noticelist li {
	height:25px;
	border-bottom:solid 1px #f0f0ee;
	line-height:25px;}
	
/*주문처리별 현황*/				
.bodyrightContainer .bg_title02 {
	width:551px; height:30px;
	margin:20px 0 0 0;
	padding:3px 0 0 28px;
	background:url("../../images/main/bg_title_02.gif") no-repeat;
	color:#000; font-weight:bold;}
.bodyrightContainer .bg_title02 span {font-size:11px; color:#3b4d68; font-weight:normal;}		
.bodyrightContainer .bg_title02 .floatR {
	position:absolute;
	left:770px;
	vertical-align:top;}
.buyprocess {
	width:579px;height:80px;
	background:url("../../images/main/bg_buyprocess.gif") no-repeat;}	
.buyprocess tr {text-align:center;}	
.buyprocess .f01 {
	color:#949cb5; font-weight:bold;}
.buyprocess .f02 {
	color:#577ab4; font-weight:bold;}
.buyprocess .f03 {
	color:#707889; font-weight:bold;}
.buyprocess .f04 {
	color:#ff4901; vertical-align:top;}
.buyprocess .f04 a {color:#ff4901; font-weight:bold;}

.main_calendar {
	background-color: #F6F6F6;
	background-image: url(../../images/main/calendar_bg.gif);
	background-repeat: repeat-x;
	padding:10px;}
.main_calendar .YearMonth {
	height:25px;
	font:16px verdana; color:#000; text-align:center; font-weight:bold;}
.main_calendar .calendar_day a {
	font-size:14px;
	font-family:verdana;
	color:#575757;}
.main_calendar .calendar_day tr {
	height:25px;}
.main_calendar .calendar_day td {
	font-family:verdana;
	width:43px; text-align:center;}	
.main_calendar .calendar_day .sun {
	color:#ff8441; font-weight:bold;}
.main_calendar .calendar_day .today {
	background:url("../../images/main/calendar_today_bak.gif") 6px 4px no-repeat;
	color:#fff;}	
.main_calendar .calendar_day .mark {
	background:url("../../images/main/calendar_check_bak.gif") 6px 4px no-repeat;}	
.main_calendar p {
	margin:0 0 10px 0; padding:0px; color:#000;}
.main_calendar li {
	font-size:11px;
	padding:0 0 0 7px;
	line-height:14px;
	color:#666;
	background:url("../../images/common/bul_03.gif") 0 6px no-repeat;}	



.tabContainer {
	width:203px;
	padding:0 5px 0 10px;
	border:solid 1px #bbb;
	border-top:0px;
	clear:both;}
.tabContainer tr {height:29px;}	
.tabContainer .text {
	width:64px;
	padding:0 0 0 7px; color:#000;
	background:url("../../images/common/bul_04.gif") 0 10px no-repeat;}	
.tabContainer .percent {
	width:30px; text-align:right;
	font-size:11px; color:#8c8c8c;}	
.tabContainer .bar {
	width:100px;
	background:url("../../images/common/bg_bargraph01.gif") 0 9px no-repeat;}	
.tabContainer .roop {	
	border-left:solid 1px #e64900;
	background:url("../../images/common/bar_roop01.gif") 0 0 repeat-x;height:10px;}
	
.roundbox li {float:left;}	
.roundbox .text {
	padding:3px 0 0 0;
	height:23px; color:#000;
	background:url("../../images/main/bg_roundbox_middle.gif") repeat-x;}	

.bestlist { clear:both; }
.bestlist th {
	border-bottom:solid 1px #e3e3e3;
	background:url("../../images/main/tb_space.gif") right bottom no-repeat;
	font-size:11px; color:#666; font-weight:normal;}
.bestlist .noborder {background:none;}	
.bestlist tr {height:20px;}
.bestlist .rank {text-align:center;}
.bestlist .title a {text-align:left; color:#666; font-weight:bold;}
.bestlist .num {font-size:11px;color:#666;text-align:center;}	

.opinionlist {
	padding:5px 0 0 5px;}
.opinionlist li {
	clear:both;
	padding:0 0 0 8px;
	background:url("../../images/common/bul_04.gif") 0 6px no-repeat;
	line-height:18px;}
.opinionlist a {
	color:#666;}
	
.newdesign td {width:132px;}
.newdesign .space {width:16px;}
.newdesign .imgborder {border:solid 1px #d3d2d2;}
.newdesign p {margin:0;padding:0;}
.newdesign .text {padding:7px 0 0 0;text-align:center;color:#666;}
.newdesign .money {padding:0 0 5px 0;text-align:center;color:#ff4901;font-weight:bold;}	

/* 후이즈몰 디자인 TIP */
.designTip {
	width:169px; height:66px;
	padding:37px 0 0 11px;
	background:url("../../images/main/bg_designTip.gif") 0 0 no-repeat;}
.designTip li {
	padding:0 0 0 7px; color:#666;
	background:url("../../images/common/bul_04.gif") 0 6px no-repeat;}								
.designTip li a {
	color:#666;}	
